<div class="col-md-4 my-5">
  <h2>Search Appointment</h2>
  <form (ngSubmit)=getAppointment() #f="ngForm">
    <div class="input-group">
      <input type="text" [(ngModel)]="confirmationId" placeholder="Appointment Confirmation Id" name="confirmationId"
        class="form-control" id="confirmationId" required minlength="10" maxlength="12" #confId="ngModel">
      <div class="input-group-append">
        <button type="submit" [disabled]="!f.valid" class="btn btn-success">Search</button>
      </div>
    </div>
    <span *ngIf="!confId.valid && confId.touched" class="help-block text-danger">Please enter a valid confirmation id.</span>
  </form>
</div>

<hr />

<div class="col-md-4 mt-1" *ngIf="displayError">
  <div class="alert alert-danger" role="alert" >
    <ul class="mb-0">
      <li *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>
</div>

  <div class="col-md-4 border border-secondary mt-1 ml-3" *ngIf="appointment">
    <h4 class="text-center text-secondary">{{appointment.confirmationId}}</h4>
    <dl>
      <dt>Name</dt>
      <dd>{{appointment.fname}} {{appointment.lname}}</dd>
      
      <dt>Date Of Birth</dt>
      <dd>{{appointment.dateOfBirth  | date }}</dd>
      
      <dt>Appointment</dt>
      <dd>{{appointment.appointmentDate | date:'medium' }}</dd>
    </dl>
  </div>